html, body, .page {
  min-height: 100%;
  margin-top: 0;
}

.page {
  display: flex;
  align-items: stretch;
  main{
    #notices{
      display: none;
    }
    .main-admin{
      width: 100%;
      margin-top: 48px;
      .ul-admin{
        width: 100%;
        li{
          display: none;
        }
        li:nth-child(2) {
          display: block;
          .panel-heading{
            text-align: left;
          }
          .row{
            justify-content: space-between;
          }
        }
      }
    }
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    .csv{
      margin-top: -400!important;
    }
    .row{
      display: inline-flex;
      width: 100%;
      order: 2;
      margin-top: -375px;
      .col-md-3{
        width: 35%;
        fieldset{
          form{
            margin-top: 0px;
          }
        }
      }
      .col-md-6{
        width: 49%;
        h2{
          order: 1;
        }
        form{
          width: 100%;
          max-width: none !important;
          margin-top: 0;
          display: block;
        }
      }
    }
    span{
      display: none;
    }
    h1{
      width: 49%;
      order: 1;
      height: 48px;
    }
    h2{
      order: 2;
    }
    p{
      order: 3;
    }
    ul{
      width: 49%;
      order: 2;
      height: 48px;
      text-align: right;
      list-style: none;
    }
    table{
      order: 3;
      margin-top: -450px;
    }
    .form-storage{
      display: inline-flex!important;
      flex-wrap: wrap;
      width: 100%;
    }
    .monthly-table{
      margin-top: -550px!important;
    }
    .most-sold-table{
      margin-top: -550px!important;
    }
    .most-shopping-table{
      margin-top: -500px!important;
    }
    form{
      order: 3;
      width: 100%;
      max-width: none!important;
      margin-top: -450px;
      display: block;
      .ul-search{
        margin-top: 0px;
        display: inline-flex;
        justify-content: space-between;
        width: 65%;
      }
      .vqmods-table{
        margin-top: 175px!important;
      }
      .table-striped{
        margin-top: -150px;
      }
      .search-table{
        margin-top: 50px;
      }
      .slide-table{
        margin-top: 0px!important;
      }
      .user-table{
        margin-top: 0px!important;
      }
      .tax-table{
        margin-top: 0px!important;
      }
      .tax-classes-table{
        margin-top: 0px!important;
      }
      .order-ul{
        margin-top: 104px;
        list-style: none;
      }
      .contries{
        margin-top: 450px;
      }
      .currencies{
        margin-top: 0;
      }
      .customers{
        margin-top: 0;
      }
      .geo{
        margin-top: 0;
      }
      .lenguages{
        margin-top: 0;
      }
      .table-order{
        margin-top: 0px;
      }
      .table-pages{
        margin-top: 0px;
      }
      table{
        width: 100%;
        margin-top: -200px;
      }
      .thumbnail{
        display: none!important;
      }
      .btn-group{
        width: 25%;
        display: inline-flex;
        justify-content: space-between;
        button{
          width: 50%;
        }
      }
      .form-group{
        width: 75%;
        input{
          border-style: solid;
          border-color: black;
          border-width: .5px;
        }
        .select-wrapper{
          select{
            border-color: black;
            border-style: solid;
            border-width: .5px;
          }
        }
      }
    }
  }
}

#sidebar {
  width: 250px;
  background: #f5f5f5;
  box-shadow: 3px 0 10px 0 #aaa inset;
  flex-shrink: 0;
  #languages, #platform, #copyright{
    display: none;
  }
}

main {
  flex-grow: 1;
  padding: 20px;
  max-width: 100%;
   h1 {
    margin-top: 0;
  }
  ul.list-inline{
    display: none;
  }
  ul.pull-right{
    display: block;
  }
}

#search {
  margin: 16px;
  .loader-wrapper {
    position: relative;
  }
  .no-results {
    font-size: 2em;
  }
  .results {
    display: none;
    margin-top: 2em;
    .result {
      display: block;
        margin-bottom: 5px;
      .id {
        opacity: 0.5;
      }
      .title {
        font-weight: bold;
      }
      .description {
        opacity: 0.75;
      }
      hr {
        margin: 0;
        padding: 0;
        border: none;
      }
    }
  }
}

#logotype img {
  padding: 0.5em;
}

#shortcuts, #languages, #platform, #copyright {
  margin: 0.5em 0;
}

#shortcuts {
  text-align: center;
  color: #aaa;
  font-size: 16px;
  a {
    color: inherit;
    margin: 0 2px;
  }
}

#copyright {
  font-size: 0.9em;
  color: #666;
  text-align: center;
}

table.data-table {
  th.main {
    width: 100%;
  }
  td, th {
    white-space: nowrap;
  }
}

/* Apps */

#box-apps-menu {
  margin: 0 5px;
  padding: 0;
  border-top: 1px #dfdfdf solid;
  display: block;
  li {
    display: block;
    padding: 0px;
    border-bottom: 1px #dfdfdf solid;
    font-weight: normal;
  }
  li a {
    display: block;
    padding: 5px;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    color: #000;
  }
  li a .fa-stack {
   font-size: 1em;
  }
  li a .name {
    font-weight: normal;
  }
  li.selected > a {
    color: #f00;
  }
  li a:hover {
    background: rgba(255,255,255,0.8);
  }
  li img {
    margin: 2px 5px;
  }
  ul {
    padding-left: 16px;
    margin-left: 20px;
    margin-bottom: 10px;
    border: none;
  }
  ul li {
    border: none;
    margin-bottom: 2px 0px;
    list-style: circle outside;
  }
  ul li a {
    font-weight: normal;
    padding: 3px 3px;
  }
}

/* Widgets */

#box-widgets {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin-bottom: 20px;
  }
  li .widget {
    margin: 5px;
  }
}

/* Content */

body .content .icon-wrapper {
  font-size: 24px;
}

/* Footer */

#footer {
  padding: 20px;
  color: #666;
}

#platform {
  font-size: 1.2em;
  text-align: center;
  margin: 10px 0px;
  font-weight: 600;
}

.alert {
  background-color: #fff;
  color: #000;
  border: 1px solid darken(#fff, 10%);
}

.alert {
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 6px, 12px;
  .close {
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    &:hover {
      text-decoration: none;
    }
  }

  &.alert-default {
    .alert{background-color: #fff6bf;}
  }

  &.alert-info {
    .alert{background-color: #eeeeee;}
  }

  &.alert-success {
    .alert{background-color: #d6eca6;}
  }

  &.alert-warning {
    .alert{background-color: #ffcc66;}
  }

  &.alert-danger {
    .alert{background-color: #ffcccc;}
  }
}
