.container-comp1{
  width: 100%;
  display: inline-flex;
  .img-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
  .description{
    padding-left: $space-2;
    width: 60%;
    h1{
      text-transform: uppercase;
    }
    p{
      text-align: start;
    }
    button{
      width: 25%;
    }
  }
  @media screen and (max-width: 768px){
    display: block;
    .img-container{
      width: 100%;
    }
    .description{
      padding-left: 0;
      width: 100%;
      h1{
        text-align: center;
      }
      p{
        text-align: center;
      }
      button{
        width: 100%;
      }
    }
  }
}
